<!-- app/views/chat_room/generate_plan_result.html.erb -->
<!DOCTYPE html>
<html>
<head>
  <title>Travel Plan Result</title>
</head>
<body>
  <h1>Travel Plan Result</h1>

  <div id="planResult">
    <!-- 整形された形で表示 -->
    <h1>生成結果：<%= @description %></h1>
    <p><%= @plan %></p>
    <p>料金：<%= @total_fee %></p>
  </div>

  <div class="regenerate-plan">
    <%= link_to 'ルートを再生成する', chat_room_path %>
  </div>

</body>
</html>
