<!-- app/views/chat_room/generate_plan_result.html.erb -->
<!DOCTYPE html>
<html>
<head>
  <title>Travel Plan Result</title>
</head>
<body>
  <h1>Travel Plan Result</h1>

  <div id="planResult">
    <!-- 整形された形で表示 -->
    <%= @plan.html_safe %>
  </div>
</body>
</html>
