<!-- index.html.erb -->
<!DOCTYPE html>

<html>
    <head>
        <%= stylesheet_link_tag 'chat_room', media: 'all' %>
    </head>
    <body>
        <div class = "chat_zone">
        </div>
        <div class = "textbox_contents">
            <textarea class = "input-box" placeholder = "メッセージを入力してください"></textarea>
            <!-- <input type = "text" class = "input-box" placeholder = "メッセージを入力してください"> -->
            <button class = "btn">
                <img src = "/assets/plane.png">
            </button>
        </div>
    </body>
</html>
