<!-- app/views/shared/header.html.erb -->
<header>
    <p class="header-title">Tabilog</p>
    <nav>
        <ul>
            <!-- <li><%= link_to 'Home', root_path %></li> -->
            <li><%= link_to image_tag('icon-house.png'), 'Home' %></li>
        </ul>
    </nav>
</header>
