<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Tabilog</title>
    <%= stylesheet_link_tag 'welcome_styles', media: 'all' %>
</head>
<body>
    <div class="container">
        <h1>Welcome to Tabilog</h1>
        <p>Start planning your next adventure now!</p>
        <%= link_to 'Get Started', chat_room_path, class: 'btn' %>
    </div>
</body>
</html>
