<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Welcome to Tabilog</title>
    <%= stylesheet_link_tag 'welcome_styles', media: 'all' %>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Grape+Nuts&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <main>
      <section class="welcome-wrapper">
        <div class="welcome-container">
          <%= image_tag 'fv.png', class: "fv-image" %>
        </div>
        <div class="link-container">
          <%= link_to 'CHAT', chat_room_path, class: 'link-btn' %>
          <a class="link-btn" href="">SHARE</a>
          <!-- <%= link_to 'SHARE', share_room_path, class: 'btn' %> -->
        </div>
      </section>
      
    </main>
  </body>
</html>
